<div class="wrapper">
  <form class="register" [formGroup]="registerFormGroup">
    <h1 class="register__title">Register</h1>
    <div class="register__inputs">
      <input
        type="email"
        class="register__input"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="text"
        class="register__input"
        placeholder="Company Name"
        formControlName="name"
      />
      <ng-container formGroupName="passwordGroup"
        ><input
          type="password"
          class="register__input"
          placeholder="Password"
          formControlName="password" />
        <input
          type="password"
          class="register__input"
          placeholder="Confirm Password"
          formControlName="confPassword"
      /></ng-container>

      <p class="to-login">
        Already have an account? <a routerLink="/login"> Log In</a>
      </p>
      <button
        class="register__submit"
        [disabled]="!this.registerFormGroup.valid"
        (click)="registerUser()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
