.wrapper {
  max-width: 1148px;
  padding: 15px;
  margin: 0 auto;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // .register__title

  &__title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    color: rgb(23, 129, 199);
  }

  // .register__inputs

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
  }

  // .register__input

  &__submit {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: rgb(23, 129, 199);
    padding: 5px;
    color: #fff;
    transition: 0.3s;
    margin-top: 30px;

    &:hover {
      background-color: rgb(6, 73, 117);
    }

    &:disabled {
      background-color: rgb(99, 149, 182);
      cursor: not-allowed;
    }
  }

  .to-register {
    text-align: center;
    font-size: 15px;
    font-family: arial;
    margin-top: 15px;
    a {
      text-decoration: none;
      color: #117edd;
      font-weight: 600;
    }
  }
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;

  &.error {
    .form__field {
      border-bottom: 2px solid red;
      color: red;
    }
    .form__label {
      color: red;
    }
  }

  .error__message {
    position: absolute;
    color: red;
  }

  .show-password {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 16px;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $primary;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 5px;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    // font-weight: 700;
  }
  padding-bottom: 6px;
  // font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
