<div class="wrapper">
  <div class="container">
    <form action="" class="form" [formGroup]="jobFormGroup">
      <div class="form__main-info">
        <input
          type="text"
          class="form__input"
          placeholder="Company Name"
          formControlName="company"
        />
        <input
          type="url"
          class="form__input"
          placeholder="Image URL"
          formControlName="img"
        />
        <input
          type="text"
          class="form__input"
          placeholder="Job Title"
          formControlName="title"
        />
        <input
          type="text"
          class="form__input"
          placeholder="Worktime"
          formControlName="workTime"
        />
        <input
          type="text"
          class="form__input"
          placeholder="Location"
          formControlName="location"
        />
        <input
          type="text"
          class="form__input"
          placeholder="Tags"
          formControlName="datas"
        />
        <div class="form__date">
          <input
            type="date"
            name=""
            id=""
            class="form__input"
            formControlName="deadline"
            [min]="today"
          />
          <span>deadline</span>
        </div>
      </div>
      <div class="info-title">Write detailed info about your vacancie</div>
      <editor
        formControlName="information"
        [init]="{ plugins: 'lists link image table code help wordcount' }"
      ></editor>
      <div class="form__textarea"></div>
      <button
        class="form__submit"
        (click)="addJob()"
        type="submit"
        [disabled]="jobFormGroup.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
