<div class="wrapper">
  <div class="favorites">
    <div class="favorites__title">Favorites</div>
    <main class="main">
      <div class="job" *ngFor="let job of favorites | async">
        <div class="job__info info">
          <div class="info__img">
            <img src="{{ job.img }}" alt="Company Logo" />
          </div>
          <div class="info__info">
            <div class="info__header">
              <span class="info__header-name">{{ job.company }}</span>
              <span *ngIf="true" class="info__header-tag new">NEW!</span>
              <span *ngIf="true" class="info__header-tag featured"
                >FEATURED</span
              >
            </div>
            <div class="info__title">{{ job.title }}</div>
            <ul class="info__about-list">
              <li class="info__about-item">1d ago</li>
              <li class="info__about-item">{{ job.workTime }}</li>
              <li class="info__about-item">{{ job.location }}</li>
            </ul>
          </div>
        </div>
        <ul class="job__data data-list">
          <li class="data-list__item" *ngFor="let data of job.datas">
            {{ data }}
          </li>
        </ul>
        <div class="job__favorites">
          <img
            [src]="job.heartSrc"
            alt="favorites"
            (click)="onClickChangeHeart(job)"
          />
        </div>
      </div>
      <ng-container *ngIf="!favorites.getValue().length">
        <h1 class="nothing">Nothing Found</h1>
      </ng-container>
    </main>
  </div>
</div>
