<main class="main">
  <div
    class="job"
    *ngFor="let job of jobs | paginate: { itemsPerPage: 10, currentPage: page }"
  >
    <div class="job__info info">
      <div class="info__img">
        <img src="{{ job.img }}" alt="Company Logo" />
      </div>
      <div class="info__info">
        <div class="info__header">
          <span class="info__header-name" (click)="openJob(job)">{{
            job.company
          }}</span>
          <span *ngIf="checkDate(job)" class="info__header-tag new">NEW!</span>
          <span *ngIf="false" class="info__header-tag featured">FEATURED</span>
        </div>
        <div class="info__title">{{ job.title }}</div>
        <ul class="info__about-list">
          <li class="info__about-item">{{ getPostDate(job) }}</li>
          <li class="info__about-item">{{ job.workTime }}</li>
          <li class="info__about-item">{{ job.location }}</li>
          <li class="info__about-item">Deadline: {{ job.deadline }}</li>
        </ul>
      </div>
    </div>
    <ul class="job__data data-list">
      <li
        class="data-list__item"
        (click)="onAddFilter(data)"
        *ngFor="let data of job.datas"
      >
        {{ data }}
      </li>
    </ul>
    <div class="job__favorites">
      <img
        [src]="job.heartSrc"
        alt="favorites"
        (click)="onClickChangeHeart(job)"
      />
    </div>
  </div>
  <h1 *ngIf="!jobs.length" class="message">Please wait.</h1>

  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  ></pagination-controls>
</main>
