.wrapper {
  max-width: 1148px;
  margin: 0 auto;
  padding: 20px;
}
ul li {
  list-style: circle;
}
.job {
  margin-top: 80px;

  // .job__logo

  &__main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
  }

  &__main-right {
    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }

  &__logo {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgb(91, 164, 164);
  }

  // .job__title

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(20, 73, 73);
  }

  &__location {
    font-size: 18px;
    margin-bottom: 15px;
  }

  // .job__information

  &__information {
    font-size: 18px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 16px 17px 71px 15px rgba(52, 79, 120, 0.69);
    -webkit-box-shadow: 16px 17px 71px 15px rgba(52, 79, 120, 0.69);
    -moz-box-shadow: 16px 17px 71px 15px rgba(52, 79, 120, 0.69);
  }

  .info-title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 35px;
  }

  &__button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
      padding: 5px 10px;
      background-color: rgb(12, 80, 206);
      border-radius: 5px;
      width: 120px;
      a {
        color: #fff;
        font-size: 18px;
      }
    }
  }
}
