<div *ngIf="job$ | async as job">
  <div class="wrapper">
    <div class="job">
      <div class="job__main">
        <div class="job__main-left">
          <div class="job__logo">
            <span>{{ job.company }}</span>
          </div>
          <div class="job__title">{{ job.title }}</div>
          <div class="job__location">{{ job.location }}</div>
          <div class="job__location">{{ job.workTime }}</div>
          <div class="job__location">{{ job.owner }}</div>
        </div>

        <div class="job__main-right">
          <img [src]="job.img" alt="" />
        </div>
      </div>

      <div class="info-title">Detailed Information</div>

      <div
        class="job__information"
        [innerHTML]="job.information | safeHtml"
      ></div>
      <div class="job__button">
        <button>
          <a href="mailto:{{ job.owner }}">Send CV</a>
        </button>
      </div>

      <br />
    </div>
  </div>
</div>
