.wrapper {
  max-width: 1148px;
  margin: 0 auto;
}
.job {
  margin-top: 80px;

  // .job__logo

  &__main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
  }

  &__main-right {
    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }

  &__logo {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgb(91, 164, 164);
  }

  // .job__title

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(20, 73, 73);
  }

  &__location {
    font-size: 18px;
    margin-bottom: 15px;
  }

  // .job__information

  &__information {
    font-size: 18px;
  }

  .info-title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 35px;
  }
}
