header {
  width: 100%;
  height: 150px;
  background-color: rgb(6, 90, 90);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.main {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0;
}

.main__filter {
  margin-top: 60px;
  margin-bottom: 25px;
}
